<style>
  .background-container {
    background-color: #ff455c;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .custom-container {
    background-color: #000064;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
  }

  .custom-input {
    width: 100%;
    font-size: 20px;
    padding: 10px;
  }

  .custom-button {
    font-size: 20px;
    padding: 6px 20px;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
</style>

<div class="navbar">
  <div class="container" style="padding: 10px;">
    <div class="logo-container">
      <img src="https://firebasestorage.googleapis.com/v0/b/temptationproject-85bb8.appspot.com/o/uploads%2Flogo_rom.png?alt=media&token=8c4b7d31-be6b-4511-b114-7812e01a6cd7" alt="Logo" class="img-fluid" style="max-width: 200px;">
    </div>
  </div>
</div>

<div class="background-container">
  <div class="container  custom-container">

    <div class="row justify-content-center">
      <div class="col-sm-6 text-center mt-5">
        <img src="https://firebasestorage.googleapis.com/v0/b/temptationproject-85bb8.appspot.com/o/uploads%2Flogo_rom_blanco.png?alt=media&token=1fbdcd39-9eb0-47d0-a6d5-53368f251316" alt="Logo" class="img-fluid" style="max-width: 200px;">
      </div>
    </div>
    <div class="row mt-4 justify-content-center mt-4">
      <div class="col-sm-6">
        <h3 class="text-center" style="color: aliceblue;">Confirmación de Incentivos</h3>
        <form (submit)="login($event)">
          <div class="form-group">
            <label for="dni" class="mt-4 mb-2" style="display: block; text-align: center; font-size: 20px; color: aliceblue;"> DNI :</label>
            <input type="text" class="form-control custom-input" id="usuario" [(ngModel)]="usuario" name="usuario">
            <label for="clave" class="mt-3 mb-2" style="display: block; text-align: center; font-size: 20px; color: aliceblue;">Contraseña :</label>
            <input type="password" class="form-control custom-input" id="clave" [(ngModel)]="clave" name="clave">
          </div>
          <button type="submit" class="btn btn-primary d-block mx-auto mt-5 custom-button mb-4">Ingresar</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
